{## Tohle je HTML šablona pro stránku se seznamem hlasování. ##}
{## Obecný úvod k šablonám je v _layout.html. ##}

{## Z oné _layout.html vezmeme základní strukturu: ##}
{% extends "voting/_layout.html" %}
{% load staticfiles %}

{## Předefinujeme hlavičku s odkazem na hlavní stránku. ##}
{## Tohle je hlavní stránka, takže odkaz není potřeba. ##}
{% block header %}
{% endblock header %}

{## A vlastní obsah: ##}
{% block content %}
    <div class="container">
        {## Nadpis (h1) ##}
        <h1>Hlasování</h1>
        {## Odstavec (p) s instrukcemi ##}
        <p>
            Vyber si, kde chceš hlasovat:
        </p>
        {## Odrážkový seznam ... ##}
        <ul>
            {## ... s odrážkou a odkazem pro každé hlasování ##}
            {% for poll in polls %}
                <li>
                    <a href="{% url 'poll_detail' pk=poll.pk %}">{{ poll.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <p>
            Krátký návod k použití:
        </p>
        <ol>
                <li>
                    Jdi na hlasování ze seznamu výš
                </li>
                <li>
                    Napiš své jméno
                </li>
                <li>
                    Vyber si možnost
                </li>
        </ol>
        <p>
            <a href="{% url 'info_o_projektu' %}">Info o projektu</a>
        </p>
        <img src="{% static 'images/giraffe1.jpg' %}" width="589" alt="Neni zobrazeni obrazku" align="right">
    </div>
{% endblock content %}
